@model TabloidMVC.Models.ViewModels.PostReactionViewModel

@{
    ViewData["Title"] = $"Post - {Model.Post.Title}";
}

@{
    int myReaction(int id)
    {
        int total = 0;
        foreach(PostReaction pr in Model.PostReactions)
        {
            if(pr.ReactionId == id)
            {
                total++;
            }
        }
        return total;
    }
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">@Model.Post.Category.Name</h1>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Written by @Model.Post.UserProfile.DisplayName</p>
                <p class="text-black-50">Published on @Html.DisplayFor(model => model.Post.PublishDateTime)</p>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </section>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Post.ImageLocation))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.Post.ImageLocation" />
                </div>
            </section>
        }
        <section class="row post__content">
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.Post.Content)</p>
        </section>
  <form asp-action="Details">
        @foreach(Reaction reaction in Model.Reactions)
        {
           <img src="@reaction.ImageLocation" style="height:100px"/> <p>@myReaction(reaction.Id)</p>
           <input asp-for="@Model.ReactionId" type="radio" value="@reaction.Id">
        }
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </form>
    </div>
</div>